@media (max-width:1140px) {
.commerce__box,
.products__box,
.footer__box {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
}

@media (max-width:950px) {
    .header__nav-box{
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width:600px){
    .header__content{
        height: 400px;
    }
    .header__content-title{
        font-size: 26px;
        padding: 5px 15px;
    }
    .header__nav-list{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
}
.products__info-title,
.intro__box-title,
commerce__info-tite{
font-size: 24px;
}

.intro__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__item-title,
.footer__item-list{
    text-align: center;

}
.footer__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
